:root {
  --white: #f5f6fa;
  --grey: #bbb9c5;
  --black: #423741;
  --blue: #4b55b7;
  --green: #389ec0;
  --red: #d14b3b;
  --yellow: #f8b765;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--white);
}

img {
  filter: invert(100%) sepia(83%) saturate(238%) hue-rotate(178deg) brightness(100%) contrast(97%);
}

textarea:focus,
input:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 4rem auto;
  background: var(--white);
  box-shadow: 1px 1px 5px 0px rgba(66, 55, 65, 0.2);
  border-radius: 0.5rem;
  padding: 2rem;
}

/* --------------- */
/* HEADER */
/* --------------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.2rem;
  border-bottom: 0.1rem solid rgba(187, 185, 197, 0.3);
}

header .title {
  flex: 1 1 75%;
  display: flex;
  justify-content: center;
}

header .title h3 {
  font-size: 2.1rem;
  font-weight: 600;
}

header .add-contact {
  position: relative;
  cursor: pointer;
  transform: translateX(-4px);
  transition: 0.3s ease-in-out all;
}

header .add-contact:hover {
  opacity: 0.7;
}

header .add-contact::before {
  position: absolute;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: var(--green);
  border-radius: 50%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2rem;
}

header .add-contact img {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: flex;
}

/* --------------- */
/* CONTACT FORM */
/* --------------- */
.contact-form {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 0;
  margin-top: 0;
  transition: height 0.3s ease-in-out, opacity 0.7s ease-in-out, visibility 0.7s ease-in-out,
    margin-top 0.3s ease-in-out;
}

.contact-form.active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  height: 141px;
  margin-top: 1.3rem;
  transition-delay: 0s;
}

.contact-form input {
  padding: 1.1rem 1.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid rgba(187, 185, 197, 0.3);
  background: var(--white);
}

.contact-form input:first-child {
  margin-bottom: 1rem;
}

.contact-form .submit-contact {
  border: none;
  height: 4rem;
  cursor: pointer;
  background: var(--green);
  color: var(--white);
  transition: 0.3s ease-in-out all;
  border-radius: 0.4rem;
  margin-top: 1.3rem;
}

.contact-form .submit-contact:hover {
  opacity: 0.8;
}

/* --------------- */
/* CONTACT LIST */
/* --------------- */
.contact-list .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 0px rgba(66, 55, 65, 0.1);
  padding: 1.3rem;
  margin-top: 1.8rem;
}

.contact-list .contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-list .contact .contact-info h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.contact-list .contact .contact-info h6 {
  font-size: 1.4rem;
}

.contact-list .contact .contact-options {
  display: flex;
}

.contact-list .contact .contact-options .delete-contact,
.contact-list .contact .contact-options .edit-contact {
  position: relative;
  transform: translateX(-5px);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.contact-list .contact .contact-options .edit-contact {
  transform: translateX(-25px);
}

.contact-list .contact .contact-options .delete-contact:hover,
.contact-list .contact .contact-options .edit-contact:hover {
  opacity: 0.7;
}

.contact-list .contact .contact-options .delete-contact::before,
.contact-list .contact .contact-options .edit-contact::before {
  position: absolute;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: var(--red);
  border-radius: 50%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2rem;
}

.contact-list .contact .contact-options .edit-contact::before {
  background: var(--yellow);
}

.contact-list .contact .contact-options img {
  width: 1.7rem;
  height: 1.7rem;
}

.contact-list .contact .contact-options .edit-contact {
  margin-bottom: 0.1rem;
}

.filter-options button {
  border: none;
  height: 4rem;
  cursor: pointer;
  background: var(--blue);
  color: var(--white);
  transition: 0.3s ease-in-out all;
  border-radius: 0.4rem;
  margin-top: 1.8rem;
  padding: 0 2rem;
}

.filter-options button:hover {
  opacity: 0.7;
}

.no-contacts {
  font-size: 1.6rem;
  margin-top: 1.3rem;
}
